.App {
  display: flex;
}

.column {
  border:3px #ccc solid;
  flex-grow: 1;
  margin: 25px;
  text-align: center;
}

.card {
  border:3px whitesmoke solid;
  padding: 25px;
  display: flex;
  background-color: white;
  color: black;
}


.card span {
  flex-grow: 1;
  text-align: center;
}